body { background: #d3e552; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 59px; display: flex; }
.block-router-0 { color: #769f71; font-size: 18px; margin-bottom: 5px; }
.block-user-1 { color: #bf4e2f; font-size: 17px; margin-bottom: 5px; }
.block-product-2 { color: #24434f; font-size: 14px; margin-bottom: 5px; }
.block-email-3 { color: #636afc; font-size: 17px; margin-bottom: 5px; }
.block-filter-4 { color: #4832da; font-size: 18px; margin-bottom: 5px; }
.block-session-5 { color: #5bf7bc; font-size: 18px; margin-bottom: 5px; }
.block-product-6 { color: #824bb7; font-size: 12px; margin-bottom: 5px; }
.block-sms-7 { color: #4c8650; font-size: 16px; margin-bottom: 5px; }
.block-uploader-8 { color: #1db53f; font-size: 14px; margin-bottom: 5px; }
.block-sms-9 { color: #ae0bc1; font-size: 17px; margin-bottom: 5px; }